/*!*SIDEBAR*!*/
/*.sidebar-contents ul{*/
        /*padding-inline-start: 0;*/
/*}*/


/*.contents{*/
    /*display: grid;*/
    /*grid-template-columns: 1fr 2fr 1fr;*/
/*}*/

/*.sidebar{*/
    /*height: 100%;*/
    /*width: 60%;*/
/*}*/
/*.sidebar:hover{*/
    /*width: 100%;*/
/*}*/

/*.sidebar-contents li{*/
    /*padding: 20px;*/
    /*list-style-type:none;*/
    /*border: 1px solid #FFCC00;*/
    /*margin: 0;*/
/*}*/

/*.sidebar-contents li:hover {*/
    /*background-color: yellow;*/
/*}*/

/*.active{*/
/*background-color: #f5dd5d;*/
/*}*/

/*!*END OF SIDEBAR*!*/

/*.main-page{*/
    /*background-color: azure;*/
/*}*/

/*############################ LOGIN PAGE #################################*/

.login{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color:orange;
}

.register{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color:orange;
}

.head{
    padding: 20px; background-color: yellowgreen;
}
.contents{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px;
    padding: 20px;
    height: 100vh;
}

.sidebar{
    background-color: lightgreen;
    margin: 0 0 0 0;
}

.main{
    background-color: lightgreen;

}

.sidebar-contents li{
    list-style: none;
    padding: 20px 0px 20px 0px;

    text-align: center;

}

.line{
    border: 1px solid black;
}

.sidebar-contents ul{
    padding: 0 0 0 0;
}

.sidebar-contents ul .active{
    background-color: darkorange;
}

.login{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 500px;

}

@media only (device-height: 640px) and (device-width: 360px) {

    .login{

}
}


