{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link type="text/css" rel="stylesheet" href="{% static 'administration/css/theme-default/bootstrap.css' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'frontend/styles.css' %}">

    <title>HomePage</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'haratiapp:index' %}">haraticollection.com <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-shopping-basket" style="padding: 0 10px;"></i>Shop</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-phone" aria-hidden="true" style="padding: 0 10px;"></i>Contact No: 01-4438684</a>
                    </li>



                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'haratiapp:login' %}"><i class="fa fa-user" style="padding: 0 10px;"></i>Login</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-shopping-cart" style="padding: 0 10px;"></i>Add to Cart</a>
                    </li>

                </ul>
            </div>
        </nav>

        <div class="logo">
            LOGO HERE
        </div>

        <div id="quickmenu" class="text-center">
            <a href="{% url 'haratiapp:listproduct' %}" style="text-decoration: none; color: black;"><div class="menu1 item shirt dropdown" >Clothing</div></a>
            <a href="{% url 'haratiapp:listproduct' %}" style="text-decoration: none; color: black;"><div class="menu1 item shoes">FootWear</div></a>
            <a href="{% url 'haratiapp:listproduct' %}" style="text-decoration: none; color: black;"><div class="menu2 item t-shirt">Accesories</div></a>
            <a href="{% url 'haratiapp:listproduct' %}" style="text-decoration: none; color: black;"><div class="menu3 item accessories">Bags & Wallets</div></a>
            <a href="{% url 'haratiapp:listproduct' %}" style="text-decoration: none; color: black;"><div class="men4 item accessories">Women's Wear</div></a>
        </div>





    </header>

    {% block content %}
    {% endblock %}

<div class="break" style="margin-top: 5%; margin-bottom: 5%">

</div>


<footer style="border-top:3px solid black;padding: 5%">

           <div class="left">
              <h1 color="#FD7300">Lorem ipsum</h1>
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. At aliquam dolore explicabo perspiciatis maiores! Ullam voluptates aliquid, hic maiores sequi animi laudantium vel eaque voluptas dolores provident ab, id quaerat.
           </div>
           <div class="center">
               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d510.08086105147964!2d85.31216769967075!3d27.71885933912201!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb18e293ae74bd%3A0x13aa84b1a58b5002!2sHARATI+COLLECTION+CENTER!5e0!3m2!1sen!2snp!4v1537981713861" width="400" height="300" frameborder="0" style="border:0" ></iframe>
           </div>
           <div class="right">
              <h1 color="#FD7300">Lorem ipsum</h1>
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, consectetur. Incidunt quasi, et ratione vitae corporis neque delectus ducimus, eveniet in, illo magnam voluptatem unde aut dolorem tempore eius magni.
           </div>

</footer>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'frontend/custom.js' %}"></script>
</body>

</html>