{% extends 'haratiapp/frontend/base.html' %}
{% block content %}
    <div class="container-fluid" style="background: #ee7600;  margin-top: 40px; padding: 0px;">
        <div class="contents" style="min-height: 250px;">
            <div class="a content-item">
                <div class="e">
                    <img src="/media_cdn/3.jpeg" alt="">
                </div>
                <div class="f" style="color: white;">
                    <h2 style="color: orange">Lorem ipsum </h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, rerum.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, rerum.</p>
                </div>
            </div>
            <div class="b content-item">
                <h2 style="background: #ee7600;" class="text-center">News</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, aspernatur.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, iste.</p>
            </div>
            <div class="c" style="">
            </div>
        </div>
    </div>

    <section id="shop">
        <br><br>
        <div id="choose">
            <div class="featured">Featured</div>
            <div class="latest">Latest</div>
            <div class="trending">Trending</div>
        </div>


        <!-- Start Of Featured Section -->
        <div id="featured-content">
            <div class="featured-content-item">

                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/media_cdn/shirt4.jpg" style="height: 300px; max-width: 300px;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

            </div>

            <div class="featured-content-item">

                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/media_cdn/shirt4.jpg" style="height: 300px; max-width: 300px;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

            </div>

            <div class="featured-content-item">

                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/media_cdn/shirt4.jpg" style="height: 300px; max-width: 300px;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

            </div>

            <div class="featured-content-item">

                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/media_cdn/shirt4.jpg" style="height: 300px; max-width: 300px;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

            </div>

        </div>

        <!--End of featured Section-->


        <!--Start of latest Section-->
        <div id="latest-content">
            <div class="latest-content-item">

                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/media_cdn/shirt4.jpg" style="height: 300px; max-width: 300px;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

            </div>

            <div class="latest-content-item">

                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/media_cdn/shirt4.jpg" style="height: 300px; max-width: 300px;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

            </div>

            <div class="latest-content-item">

                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/media_cdn/shirt4.jpg" style="height: 300px; max-width: 300px;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

            </div>

            <div class="latest-content-item">

                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/media_cdn/shirt4.jpg" style="height: 300px; max-width: 300px;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

            </div>

        </div>
        <!--End of latest Section-->

        <!--Start of trending Section-->
        <div id="trending-content">
            <div class="trending-content-item">

                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/media_cdn/shirt4.jpg" style="height: 300px; max-width: 300px;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

            </div>

            <div class="trending-content-item">

                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/media_cdn/shirt4.jpg" style="height: 300px; max-width: 300px;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

            </div>

            <div class="trending-content-item">

                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/media_cdn/shirt4.jpg" style="height: 300px; max-width: 300px;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

            </div>

            <div class="trending-content-item">

                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/media_cdn/shirt4.jpg" style="height: 300px; max-width: 300px;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

            </div>

        </div>

        <!--End of trending Section-->


    </section>
    <script>
        jQuery(document).ready(function () {
            var x = $("#quickmenu").offset();
            var y = $('#choose').offset();
            jQuery("#quickmenu").wrap('<div class="nav-placeholder"></div>');
            jQuery(".nav-placeholder").height(jQuery("#quickmenu").outerHeight());

            jQuery(window).scroll(function () {
                var scrolltop = jQuery(window).scrollTop();

                if (scrolltop >= x.top && scrolltop <= y.top) {
                    jQuery("#quickmenu").addClass('fixed');
                    jQuery(".item").addClass('reduce');
                } else {
                    jQuery("#quickmenu").removeClass('fixed');
                    jQuery(".item").removeClass('reduce');

                }
            });

            jQuery('#choose .featured').click(function () {
                console.log('shoes clicked !!')
                jQuery('#featured-content').css({
                    'display': 'grid'
                });

                jQuery('#latest-content').css({
                    'display': 'none'
                });
                jQuery('#trending-content').css({
                    'display': 'none'
                });
            });

            jQuery('#choose .latest').click(function () {
                console.log('shoes clicked !!')
                jQuery('#featured-content').css({
                    'display': 'none'
                });

                jQuery('#latest-content').css({
                    'display': 'grid'
                });
                jQuery('#trending-content').css({
                    'display': 'none'
                });
            });

            jQuery('#choose .trending').click(function () {
                console.log('shoes clicked !!')
                jQuery('#featured-content').css({
                    'display': 'none'
                });

                jQuery('#latest-content').css({
                    'display': 'none'
                });
                jQuery('#trending-content').css({
                    'display': 'grid'
                });
            });


        });

    </script>
{% endblock %}