{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


</head>

<body>
<div class="login">
    <div class="left" style="background-color: orange;">
        asl;dfkjsldflasdf
    </div>
    <div class="center" style="margin-top:10%;">

        <h1>Login</h1>
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
        <form class="login-form" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <div id="exampleInputEmail1">{{ form.username }}</div>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <div id="exampleInputPassword1">{{ form.password }}</div>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.
                </small>
            </div>

            <button type="submit" class="btn btn-primary" style="width: 100%">Submit</button>
        </form>

        <a href="{% url 'haratiapp:register' %}">
            <button class="btn btn-success" style="width: 100%; margin-top:2%;">Register</button>
        </a>
        <br>

    </div>
    <div class="right" style="background-color: orange;">
        asdfasdfasdf
    </div>
</div>

</body>
</html>