{% extends 'haratiapp/frontend/homepage.html' %}

{% block content %}
    <style>
        .products {
            display: grid;
            grid-template-columns: 1fr 3fr;
            grid-gap: 20px;
        }

        .sidebar {
            background-color: #FFD800;
        }

        .product-main-content {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            grid-gap: 20px;
        }

        .product-main-content .card:hover {
            border: 2px orange solid;
        }
    </style>

    <div class="products">
        <div class="sidebar">
            <ul>
                <li>Clothing</li>
                <ul>
                    {% for name in subcategories_clothing %}
                        <li>{{ name.subcategory }}</li>
                    {% endfor %}
                </ul>
                <li>Footwear</li>
                <ul>
                    {% for name in subcategories_footwear %}
                        <li>{{ name.subcategory }}</li>
                    {% endfor %}
                </ul>
                <li>Accessories</li>
                <ul>
                    {% for name in subcategories_bagsandwallets %}
                        <li>{{ name.subcategory }}</li>
                    {% endfor %}
                </ul>
                <li>Women's Wears</li>
                <ul>
                    {% for name in subcategories_accessories %}
                        <li>{{ name.subcategory }}</li>
                    {% endfor %}
                </ul>
                <li>Bags & Wallets</li>
                <ul>
                    {% for name in subcategories_womenwears %}
                        <li>{{ name.subcategory }}</li>
                    {% endfor %}
                </ul>

            </ul>
        </div>


        <div class="product-main-content">


            {% for item in object_list %}
                <div class="card">
                    {% if item.photo %}
                    <img class="card-img-top" src="{{ item.photo.url }}" alt="imagenotshowing">
                    {% endif %}
                    <div class="card-body">
                        <h4 class="card-title">{{ item.name }}</h4>
                        <p class="card-text">{{ item.description }}</p>
                        <a href="#" class="btn btn-primary">See Profile</a>
                    </div>
                </div>{% endfor %}

                {% if is_paginated %}



                            <ul class="pagination">

                                {% if page_obj.has_previous %}
                                    <li>
                                        <a href="?paginate_by={{ paginate_by }}&page={{ page_obj.previous_page_number }}"><i
                                                class="fa fa-chevron-left"
                                                aria-hidden="true"></i></a></li>
                                {% else %}
                                    <li class="disabled"><span><i class="fa fa-chevron-left"
                                                                  aria-hidden="true"></i></span></li>
                                {% endif %}

                                {% if page_obj.number|add:'-4' > 1 %}
                                    <li><a href="?paginate_by={{ paginate_by }}&page={{ page_obj.number|add:'-5' }}">&hellip;</a>
                                    </li>
                                {% endif %}

                                {% for i in page_obj.paginator.page_range %}

                                    {% if page_obj.number == i %}
                                        <li class="active"><span>{{ i }} <span
                                                class="sr-only">(current)</span></span>
                                        </li>
                                    {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
                                        <li><a href="?paginate_by={{ paginate_by }}&page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                {% endfor %}

                                {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
                                    <li><a href="?paginate_by={{ paginate_by }}&page={{ page_obj.number|add:'5' }}">&hellip;</a>
                                    </li>
                                {% endif %}

                                {% if page_obj.has_next %}
                                    <li><a href="?paginate_by={{ paginate_by }}&page={{ page_obj.next_page_number }}"><i
                                            class="fa fa-chevron-right"
                                            aria-hidden="true"></i></a></li>
                                {% else %}
                                    <li class="disabled"><span><i class="fa fa-chevron-right"
                                                                  aria-hidden="true"></i></span></li>
                                {% endif %}
                            </ul>


                        {% endif %}

        </div>

    </div>

{% endblock %}