nav {
    background: #ee7600;
    height: 50px;
}

nav li {
    padding: 0 20px;
}



#quickmenu {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 60px;
    font-size: 25px;
}


#choose {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 60px;
    font-size: 25px;
    margin-top: 100px;

}

.contents{
    border-bottom: 5px solid black;
    margin-bottom: 20px;
}

.item {
    height: inherit;
    border: 1px solid red;
    align-content: center;
    padding-top: 12px;
    padding-left: 12px;

}



.fixed {
    position: fixed;
    top: 0;
    height: 20px;
}

.reduce {
    height: 50px;
}

.nav-placeholder {
    margin-bottom: 40px;
}

.item {
    background-color: #ee7600;
}

.item:hover {
    background: orange;
}

.logo {
    height: 150px;
    background: #FFCC00;
}

.contents {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 10px;

}

.a {
    background: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;

}

.content-item {
    padding-top: 20px;
    margin: 20px;
}

.b {
    background: inherit;
}

.c {
    background-color: black;
    padding: 0
}



#shop {
    margin: 0 40px;
    border-bottom: 5px solid black;
}

#shop li {
    float: left;
    margin: 0 20px;

    font-size: 25px;
    

}




#featured-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;

}

.featured-content-item {
    min-height: 300px;
}

.featured-content-item:hover {
    border: 1px solid orange;
}

.featured{
    border-bottom: 5px solid black;
}

#latest-content {
    display: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;

}


.latest-content-item {
    min-height: 300px;
    text-align: center;
    align-content: center;
}

.latest-content-item:hover {
    border: 1px solid orange;
}



#trending-content {
    display: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;

}


.trending-content-item {
    min-height: 300px;
    text-align: center;
    align-content: center;
}

.trending-content-item:hover {
    border: 1px solid orange;
}

.sidebar{
    background: orangered;

}

.products{
    margin-bottom: 20%;

}

