{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'styles.css' %}">

<!-- BEGIN STYLESHEETS -->
    <link type="text/css" rel="stylesheet" href="{% static 'administration/css/theme-default/bootstrap.css' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
{#    <link rel="stylesheet" href="{% static 'resources/demos/style.css' %}">#}

    <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->



    <script src="{% static 'administration/js/libs/jquery/jquery-1.11.2.min.js' %}">
    </script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="{% static 'administration/js/libs/select2/select2.min.js' %}"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="{% static 'administration/js/libs/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'administration/js/libs/spin.js/spin.min.js' %}"></script>
    <script src="{% static 'administration/core/source/App.js' %}"></script>
    <script src="{% static 'administration/core/source/AppNavigation.js' %}"></script>
    <script src="{% static 'administration/core/source/AppOffcanvas.js' %}"></script>
    <script src="{% static 'administration/core/source/AppCard.js' %}"></script>
    <script src="{% static 'administration/core/source/AppForm.js' %}"></script>
    <script src="{% static 'administration/core/source/AppNavSearch.js' %}"></script>
    <script src="{% static 'administration/core/source/AppVendor.js' %}"></script>
    <script src="{% static 'administration/core/demo/Demo.js' %}"></script>



    {% block title %}

    {% endblock %}
</head>
<body>
{% block content %}
{% endblock %}

</body>
</html>