{% extends 'haratiapp/dashboard/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'styles.css' %}">

</head>
<body>
{% block title %}

    <title>Create Product</title>

{% endblock %}
{% block content %}
    <div class="head">
        <h1 style="text-align: center">Admin Page</h1>

        <a href="{% url 'haratiapp:logout' %}" style="position: relative;float: right; top: -20px;">
            <button class="btn btn-danger">Logout</button>
        </a>
    </div>


    <div class="contents">
        <div class="sidebar">
            <i class="fas fa-align-justify" style="float: right"></i>
            <h1 class="text-center text-bold text">Settings </h1>
            <div class="sidebar-contents">

                <ul>
                    <div class="line"></div>

                        <li>Dashboard Home</li>

                    <div class="line"></div>
                    <li>Logo Management</li>
                    <div class="line"></div>
                    <li>Slider Management</li>
                    <div class="line"></div>
                    <li>Category Management</li>
                    <div class="line"></div>
                    <li>Sub Category Management</li>
                    <div class="line"></div>
                    <a href="{% url 'haratiapp:admin_list_product' %}">
                        <li class="active">Products</li>
                    </a>
                    <div class="line"></div>
                    <li>Add Multiple Pages</li>
                    <div class="line"></div>
                </ul>

            </div>

        </div>
        <div class="main">
            <h1 class="text-center">Add Product</h1>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">

                        <form method="post" action="{% url 'haratiapp:admin_create_product' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="name">Name of Product</label>
                                <div id="name">
                                    {{ form.name }}
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>

                                <div id="description">
                                    {{ form.description }}
                                </div>


                            </div>
                            <div class="form-group">
                                <label for="product_type">Item Number</label>


                                <div id="item_number">
                                    {{ form.item_number }}
                                </div>

                            </div>

                            <div class="form-group">
                                <label for="quantity">Sub Category</label>

                                <div id="subcategory">
                                    {{ form.subcategory }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="productnumber">Size</label>

                                <div id="size">
                                    {{ form.size }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="productnumber">Color</label>

                                <div id="color">
                                    {{ form.color }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="productnumber">Price</label>

                                <div id="price">
                                    {{ form.price }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="productnumber">status</label>

                                <div id="status">
                                    {{ form.status }}
                                </div>
                            </div>


                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>


    <script>
        $("i").click(function () {
            if ($(".sidebar-contents").css('display') == 'none') {
                $(".sidebar-contents").show();
                $("i").css("float", "right");
            } else {
                $(".sidebar-contents").hide();
                $("i").css("float", "left");
                $("i").css("padding-left", "20px");
            }
        });
    </script>
{% endblock %}
</body>


</html>






