{% extends 'haratiapp/dashboard/base.html' %}
{% load static %}

{% block title %}
    <title>Dashboard</title>
{% endblock %}

{% block content %}
    <div class="head">
        <h1 style="text-align: center;">Admin Dashboard</h1>
        <a href="{% url 'haratiapp:logout' %}" style="position: relative;float: right; top: -20px;">
            <button class="btn btn-danger">Logout</button>
        </a>
    </div>


    <div class="contents">

        <div class="sidebar">
            <i class="fas fa-align-justify" style="float: right"></i>
            <h1 class="text-center text-bold text">Settings </h1>
            <div class="sidebar-contents">

                <ul>
                    <div class="line"></div>

                        <li class="active">Dashboard Home</li>

                    <div class="line"></div>
                    <li>Logo Management</li>
                    <div class="line"></div>
                    <li>Slider Management</li>
                    <div class="line"></div>
                    <li>Category Management</li>
                    <div class="line"></div>
                    <li>Sub Category Management</li>
                    <div class="line"></div>
                    <a href="{% url 'haratiapp:admin_list_product' %}">
                        <li>Products</li>
                    </a>
                    <div class="line"></div>
                    <li>Add Multiple Pages</li>
                    <div class="line"></div>
                </ul>

            </div>

        </div>

        <div class="main">
            <h1 class="text-center">Dashboard</h1>
            <div class="line"></div>
        </div>

    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <script>
        $("i").click(function () {
            if ($(".sidebar-contents").css('display') == 'none') {
                $(".sidebar-contents").show();
                $("i").css("float", "right");
            } else {
                $(".sidebar-contents").hide();
                $("i").css("float", "left");
                $("i").css("padding-left", "20px");
            }
        });
    </script>
{% endblock %}
</body>


</html>






