{% extends 'haratiapp/dashboard/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">

</head>
<body>
{% block content %}
    <div class="head">
        <h1 style="text-align: center">Home Page</h1>
        <a href="{% url 'haratiapp:logout' %}" style="position: relative;float: right; top: -20px;">
            <button class="btn btn-danger">Logout</button>
        </a>
    </div>


    <div class="contents">
        <div class="sidebar">
            <i class="fas fa-align-justify" style="float: right"></i>
            <h1 class="text-center text-bold text">Settings </h1>
            <div class="sidebar-contents">

                <ul>
                    <div class="line"></div>
                    <li class="active">Home</li>
                    <div class="line"></div>
                    <li>Logo Management</li>
                    <div class="line"></div>
                    <li>Slider Management</li>
                    <div class="line"></div>
                    <li>Category Management</li>
                    <div class="line"></div>
                    <li>Sub Category Management</li>
                    <div class="line"></div>
                    <li>Add Product</li>
                    <div class="line"></div>
                    <li>Add Multiple Pages</li>
                    <div class="line"></div>
                </ul>

            </div>

        </div>
        <div class="main">
            <h1>Home</h1>
        </div>

    </div>


    <script>
        $("i").click(function () {
            if ($(".sidebar-contents").css('display') == 'none') {
                $(".sidebar-contents").show();
                $("i").css("float", "right");
            } else {
                $(".sidebar-contents").hide();
                $("i").css("float", "left");
                $("i").css("padding-left", "20px");
            }
        });
    </script>
{% endblock %}
</body>


</html>






