{% extends 'haratiapp/dashboard/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">

</head>
<body>
{% block title %}

    <title>List Product</title>

{% endblock %}

{% block content %}

    <div class="head">
        <h1 style="text-align: center">Admin Dashboard</h1>
        <a href="{% url 'haratiapp:logout' %}">
            <button class="btn btn-danger" style="position: relative;float: right; top: -20px;">Logout</button>
        </a>
        <a href="{% url 'haratiapp:index' %}" style="position: relative;float: right; top: -20px;">
            <button class="btn btn-info">Go to Homepage</button>
        </a>
        <a href="{% url 'haratiapp:admin_create_product' %}">
            <button class="btn btn-primary" style="position: relative;float: right; top: -20px;">Add Products</button>
        </a>


    </div>


    <div class="contents">
        <div class="sidebar">
            <i class="fas fa-align-justify" style="float: right"></i>
            <h1 class="text-center text-bold text">Settings </h1>
            <div class="sidebar-contents">

                <ul>
                    <div class="line"></div>

                        <li>Dashboard Home</li>

                    <div class="line"></div>
                    <li>Logo Management</li>
                    <div class="line"></div>
                    <li>Slider Management</li>
                    <div class="line"></div>
                    <li>Category Management</li>
                    <div class="line"></div>
                    <li>Sub Category Management</li>
                    <div class="line"></div>
                    <a href="{% url 'haratiapp:admin_list_product' %}">
                        <li class="active">Products</li>
                    </a>
                    <div class="line"></div>
                    <li>Add Multiple Pages</li>
                    <div class="line"></div>
                </ul>

            </div>

        </div>
        <div class="main">
            <h1 class="text-center">List of Products</h1>
            <div class="line"></div>
            <input type="text" name="search" placeholder="Search.." class="search">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">

                        <table style="width:100%" border="1">
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>ItemNumber</th>
                                <th>Category</th>
                                <th>SubCategory</th>
                                <th>Size</th>
                                <th>Color</th>
                                <th>Price</th>
                                <th>Publish Status</th>
                            </tr>
                            {% for obj in object_list %}
                                <tr>

                                    <td>{{ obj.name }}</td>
                                    <td>{{ obj.description }}</td>
                                    <td>{{ obj.item_number }}</td>
                                    <td>{{ obj.category }}</td>
                                    <td>{{ obj.subcategory }}</td>
                                    <td>{{ obj.size }}</td>
                                    <td>{{ obj.color }}</td>
                                    <td>{{ obj.price }}</td>
                                    <td>{{ obj.status }}</td>


                                </tr>
                            {% endfor %}
                        </table>


                        {% if is_paginated %}



                            <ul class="pagination">

                                {% if page_obj.has_previous %}
                                    <li>
                                        <a href="?paginate_by={{ paginate_by }}&page={{ page_obj.previous_page_number }}"><i
                                                class="fa fa-chevron-left"
                                                aria-hidden="true"></i></a></li>
                                {% else %}
                                    <li class="disabled"><span><i class="fa fa-chevron-left"
                                                                  aria-hidden="true"></i></span></li>
                                {% endif %}

                                {% if page_obj.number|add:'-4' > 1 %}
                                    <li><a href="?paginate_by={{ paginate_by }}&page={{ page_obj.number|add:'-5' }}">&hellip;</a>
                                    </li>
                                {% endif %}

                                {% for i in page_obj.paginator.page_range %}

                                    {% if page_obj.number == i %}
                                        <li class="active"><span>{{ i }} <span
                                                class="sr-only">(current)</span></span>
                                        </li>
                                    {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
                                        <li><a href="?paginate_by={{ paginate_by }}&page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                {% endfor %}

                                {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
                                    <li><a href="?paginate_by={{ paginate_by }}&page={{ page_obj.number|add:'5' }}">&hellip;</a>
                                    </li>
                                {% endif %}

                                {% if page_obj.has_next %}
                                    <li><a href="?paginate_by={{ paginate_by }}&page={{ page_obj.next_page_number }}"><i
                                            class="fa fa-chevron-right"
                                            aria-hidden="true"></i></a></li>
                                {% else %}
                                    <li class="disabled"><span><i class="fa fa-chevron-right"
                                                                  aria-hidden="true"></i></span></li>
                                {% endif %}
                            </ul>


                        {% endif %}

                    </div>
                </div>
            </div>

        </div>

    </div>

    <style>
        td {
            padding: 20px;
        }

        input[type=text] {
            width: 130px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
        }

        /* When the input field gets focus, change its width to 100% */
        input[type=text]:focus {
            width: 96%;

        }

        .search {
            margin: 20px;
        }

    </style>
    <script>
        $("i").click(function () {
            if ($(".sidebar-contents").css('display') == 'none') {
                $(".sidebar-contents").show();
                $("i").css("float", "right");
            } else {
                $(".sidebar-contents").hide();
                $("i").css("float", "left");
                $("i").css("padding-left", "20px");
            }
        });
    </script>
{% endblock %}
</body>


</html>






