{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>


</body>
</html>


{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>

<body>
<div class="register">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-4" style="margin-top: 10%; margin-left: 10%;">
                    <h1>Register</h1>

                    <form class="register-form" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username">Enter Username:</label>
                            <div id="username">{{ form.username }}</div>
                        </div>

                        <div class="form-group">
                            <label for="password">Enter Password:</label>
                            <div id="password">{{ form.password }}</div>
                        </div>


                        <div class="form-group">
                            <label for="repassword">Confirm Password:</label>
                            <div id="password">{{ form.repassword }}</div>
                        </div>

                        <div class="form-group">
                            <label for="email">Enter Email:</label>
                            <div id="email">{{ form.email }}</div>
                        </div>

                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>


                </div>


            </div>
        </div>
    </div>

</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>